<mdb-carousel [animation]="'slide'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../assets/analytics.jpg" alt="First slide">
      <div class="carousel-caption">
        <h3 class="h3-responsive">Analytics</h3>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../assets/erp.jpg" alt="Second slide">
        <div class="carousel-caption">
        <h3 class="h3-responsive">Enterprise Resource Plannig</h3>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>