<div class="container-fluid">
    <div class="card p-4 mt-2 mb-2" style="background-color: cornflowerblue;">
        <div class="row mt-3">
            <div class="col-md-6" style="color: cornsilk;">
                <h5>About us</h5>
                <p>SportsRuler is a multi-sided multi-sport platform, connecting players, tournaments, event managers,
                    coaching academies, schools, colleges, shops and more through a common platform. </p>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/sr-logo.png" class="d-block w-100" alt="..." />
            </div>
        </div>
    </div>
</div>
<div class="container my-3">
    <p>
        When you have a great story about how your product or service was built to change lives, share it. The
        "About
        Us" page is a great place for it to live, too. Good stories humanize your brand, providing context and
        meaning
        for your product. What’s more, good stories are sticky -- which means people are more likely to connect with
        them and pass them on.

        Yellow Leaf Hammocks tells users about its product by describing how the hammocks empower artisan weavers
        and
        their families. The company breaks down different pieces of the story into sections that combine words and
        easily digestible graphics, painting a picture instead of big chunks of text. They're clear about why
        they're
        different: "Not a Charity," the page reads. And then: "This is the basis for a brighter future, built on a
        hand
        up, not a handout."

        Every company has a story to tell, so break out your storytelling skills from that random English class you
        took
        years ago and put them to work on your "About Us" page. Using descriptive and emotive copy and gorgeous
        graphics, an "About Us" page with a story works harder for your business than a generic one.
    </p>
    <p>
        People tend to think that "About Us" pages have to sound formal to gain credibility and trust. But most
        people
        find it easier to trust real human beings, rather than a description that sounds like it came from an
        automaton.
        Trying to sound too professional on your "About Us" page results in stiff, “safe” copy and design -- the
        perfect
        way to make sure your company blends in with the masses.

        Instead, Eight Hour Day showcases the people behind the company and humanizes its brand. Introducing the
        founders by name and featuring the photos of them on the "About Us" page drives home the point that Nathan
        and
        Katie are -- as they so astutely put it -- "two individuals with a passion for creativity -- creativity
        makes us
        happy."

        When you’re designing your "About Us" page, avoid industry jargon and replace it with an authentic voice --
        yours -- to describe your product or service. Sure, it needs to be polished and free of errors, but it
        should
        always sound friendly and real.
    </p>
    <p>
        Instead of following the classic "About Us" script and writing a few paragraphs about the company's mission and
        origins, try something different -- there are plenty of ways to make your brand more compelling to someone who
        doesn't know about you.

        Take Moz, for example. A lot has happened since it was founded in 2004, so the company chose to share those
        milestones using a fun and clean design that incorporates clear headers, concise blurbs, and little graphics to
        break up the text.

        We especially love the humble references to how Moz received funding, how it switched its brand positioning --
        and most importantly, how it switched back to its original model. This speaks volumes to the value honesty and
        humbleness can play to your customers. Don't be afraid to talk about your ups and downs; your customers will
        trust what you say that much more.
    </p>
</div>
